{% extends "template.html" %}

{% block head %}

<script type="text/javascript">
	function writePower() {
		var real = parseFloat(document.getElementById("powerInput").value);
		var appliance_id = (document.getElementById("appliance_id").value);
		if (real && appliance_id) {
			var data = {
				"appliance_id": appliance_id,
				"real" : real
			}
			var JSONdata = JSON.stringify(data)
			$.post("/_ah/api/ems/v1/writePower", JSONdata, function(data){
				// document.getElementById("responseDate").innerHTML = data["date"];
				// document.getElementById("responseValue").innerHTML = data["real"];
			});
		}
		else {
			console.log("Can't send empty input")
		};
	}

	function getNPower(input) {
		var n = parseInt(input)
		if (n) {
			var data = {
				"n" : n,
				"appliance_id" : "{{ appliance.key.id() }}"
			}
			var JSONdata = JSON.stringify(data)
			htmlTable = ""
			$.post("/_ah/api/ems/v1/getNPower", JSONdata, function(data){
				$.each(data["items"], function(index, entry){
					htmlTable += "<tr>"
					$.each(entry, function(key, value) {
						htmlTable += "<td>" + value + "</td>"
						// console.log(key + " : " + value);
					});
					htmlTable += "</tr>"
				});
				document.getElementById("powerTable").innerHTML = htmlTable
			});
		}
	}

	function generatePower() {
		var days = parseFloat(document.getElementById("days").value);
		var interval_length = parseInt(document.getElementById("interval_length").value);
		var min_power = parseFloat(document.getElementById("min_power").value);
		var max_power = parseFloat(document.getElementById("max_power").value);

		// console.log(days, interval_length, min_power, max_power);

		var n = days * 24 * 60/interval_length;
		var today = new Date();
		var start_day = new Date();

		console.log(n, today, start_day);
		
		power_readings = [];
		datetime_readings = [];
		for (var i = 0; i < n; i++) {
			tmp_power = Math.floor(Math.random() * (max_power - min_power + 1)) + min_power;
			power_readings.push(tmp_power);
			datetime_readings.push(start_day.getTime());
			
			console.log(tmp_power,start_day);
			var data = {
				"appliance_id": "{{ appliance.key.id() }}",
				"real" : tmp_power,
				"datetime" : start_day.getTime()
			}
			var JSONdata = JSON.stringify(data)
			$.post("/_ah/api/ems/v1/writePower", JSONdata, function(data){});
			start_day.setMinutes(start_day.getMinutes() - interval_length);
		}
		console.log(power_readings, datetime_readings);
	}
</script>

<script type="text/javascript">
	var values = [
		["date"],
		["real"]
	];
	var chart = null;

	function setup() {
		chart = c3.generate({
			data: {
				x: "date",
				xFormat: '%Y-%m-%d %H:%M:%S.%L',
				columns: values
			},
			axis: {
				x: {
					type: 'timeseries',
					tick: {
						format: '%H:%M:%S.%L'
					}
				}
			},
			transition: {
				duration: 50
			}
		});
		chart.load({
			columns: values
		});
	}

	var today = new Date();
	var previousData = null;
	setInterval(function(){
		var n = 5;
		var data = {
			"n" : n,
			"appliance_id" : "{{ appliance.key.id() }}"
		}
		var JSONdata = JSON.stringify(data)
		$.post("/_ah/api/ems/v1/getNPower", JSONdata, function(data){
			header = ["date", "real"];
			for(item in data.items) {
				var format = d3.time.format.utc("%Y-%m-%d %H:%M:%S.%L");
				var currDate = format.parse(data.items[item]["date"]);
				if (currDate.getTime() >= today.getTime()) {
					for(entry in header) {
						var current = header[entry];
						var value = data.items[item][current];

						values[entry].push(value);
					}
				}
			}
			if (values.length >= 1) {
				if (values[0].length == 150) {
					for(x in values) {
						values[x].splice(1,1);
					}
				};
				chart.load({
					columns: values
				});
			};
		});
	}, 1000);

	var buttonState = false;
	function togglePlayPause() {
		// Pause to Play
		if (!buttonState) {

		}
		// Play to Pause
		else {

		}
	}

	function getDateFromFormat(val,format) {
		val=val+"";
		format=format+"";
		var i_val=0;
		var i_format=0;
		var c="";
		var token="";
		var token2="";
		var x,y;
		var now=new Date();
		var year=now.getYear();
		var month=now.getMonth()+1;
		var date=1;
		var hh=now.getHours();
		var mm=now.getMinutes();
		var ss=now.getSeconds();
		var ampm="";
		
		while (i_format < format.length) {
			// Get next token from format string
			c=format.charAt(i_format);
			token="";
			while ((format.charAt(i_format)==c) && (i_format < format.length)) {
				token += format.charAt(i_format++);
				}
			// Extract contents of value based on format token
			if (token=="yyyy" || token=="yy" || token=="y") {
				if (token=="yyyy") { x=4;y=4; }
				if (token=="yy")   { x=2;y=2; }
				if (token=="y")    { x=2;y=4; }
				year=_getInt(val,i_val,x,y);
				if (year==null) { return 0; }
				i_val += year.length;
				if (year.length==2) {
					if (year > 70) { year=1900+(year-0); }
					else { year=2000+(year-0); }
					}
				}
			else if (token=="MMM"||token=="NNN"){
				month=0;
				for (var i=0; i<MONTH_NAMES.length; i++) {
					var month_name=MONTH_NAMES[i];
					if (val.substring(i_val,i_val+month_name.length).toLowerCase()==month_name.toLowerCase()) {
						if (token=="MMM"||(token=="NNN"&&i>11)) {
							month=i+1;
							if (month>12) { month -= 12; }
							i_val += month_name.length;
							break;
							}
						}
					}
				if ((month < 1)||(month>12)){return 0;}
				}
			else if (token=="EE"||token=="E"){
				for (var i=0; i<DAY_NAMES.length; i++) {
					var day_name=DAY_NAMES[i];
					if (val.substring(i_val,i_val+day_name.length).toLowerCase()==day_name.toLowerCase()) {
						i_val += day_name.length;
						break;
						}
					}
				}
			else if (token=="MM"||token=="M") {
				month=_getInt(val,i_val,token.length,2);
				if(month==null||(month<1)||(month>12)){return 0;}
				i_val+=month.length;}
			else if (token=="dd"||token=="d") {
				date=_getInt(val,i_val,token.length,2);
				if(date==null||(date<1)||(date>31)){return 0;}
				i_val+=date.length;}
			else if (token=="hh"||token=="h") {
				hh=_getInt(val,i_val,token.length,2);
				if(hh==null||(hh<1)||(hh>12)){return 0;}
				i_val+=hh.length;}
			else if (token=="HH"||token=="H") {
				hh=_getInt(val,i_val,token.length,2);
				if(hh==null||(hh<0)||(hh>23)){return 0;}
				i_val+=hh.length;}
			else if (token=="KK"||token=="K") {
				hh=_getInt(val,i_val,token.length,2);
				if(hh==null||(hh<0)||(hh>11)){return 0;}
				i_val+=hh.length;}
			else if (token=="kk"||token=="k") {
				hh=_getInt(val,i_val,token.length,2);
				if(hh==null||(hh<1)||(hh>24)){return 0;}
				i_val+=hh.length;hh--;}
			else if (token=="mm"||token=="m") {
				mm=_getInt(val,i_val,token.length,2);
				if(mm==null||(mm<0)||(mm>59)){return 0;}
				i_val+=mm.length;}
			else if (token=="ss"||token=="s") {
				ss=_getInt(val,i_val,token.length,2);
				if(ss==null||(ss<0)||(ss>59)){return 0;}
				i_val+=ss.length;}
			else if (token=="a") {
				if (val.substring(i_val,i_val+2).toLowerCase()=="am") {ampm="AM";}
				else if (val.substring(i_val,i_val+2).toLowerCase()=="pm") {ampm="PM";}
				else {return 0;}
				i_val+=2;}
			else {
				if (val.substring(i_val,i_val+token.length)!=token) {return 0;}
				else {i_val+=token.length;}
				}
			}
		// If there are any trailing characters left in the value, it doesn't match
		if (i_val != val.length) { return 0; }
		// Is date valid for month?
		if (month==2) {
			// Check for leap year
			if ( ( (year%4==0)&&(year%100 != 0) ) || (year%400==0) ) { // leap year
				if (date > 29){ return 0; }
				}
			else { if (date > 28) { return 0; } }
			}
		if ((month==4)||(month==6)||(month==9)||(month==11)) {
			if (date > 30) { return 0; }
			}
		// Correct hours value
		if (hh<12 && ampm=="PM") { hh=hh-0+12; }
		else if (hh>11 && ampm=="AM") { hh-=12; }
		var newdate=new Date(year,month-1,date,hh,mm,ss);
		return newdate.getTime();
	}
</script>
{% endblock %}

{% block content %}
<div class="container">
	<nav>
		<ul class="pager">
			<li class="previous"><a href="/appliances"><span aria-hidden="true">&larr;</span> Back to Appliances </a></li>
		</ul>
	</nav>

	<div class="page-header">
		<h1>{{ appliance.name }}</h1>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<h2>Info</h2>
			<form class="form-horizontal">
				<div class="form-group">
					<label for="name" class="col-sm-2 control-label">Name</label>
					<div class="col-sm-10">
						<p class="form-control-static" id="name">{{ appliance.name }}</p>
					</div>
				</div>
				<div class="form-group">
					<label for="category" class="col-sm-2 control-label">Category</label>
					<div class="col-sm-10">
						<p class="form-control-static" id="category">{{ appliance.category }}</p>
					</div>
				</div>
			</form>
			{{appliance}}
		</div>
		<div class="col-sm-6">
			<h2>Send to Database (Single)</h2>
			<div class="jumbotron">
				<form>
					<div class="form-group">
						<label for="powerInput">Power Consumption</label>
						<input class="form-control" id="powerInput" placeholder="Power (kW)">
						<label for="appliance_id">Appliance ID</label>
						<input class="form-control" id="appliance_id" disabled value="{{ appliance.key.id() }}">
					</div>
				</form>
				<button onclick="writePower()" class="btn btn-default">Submit</button>
			</div>
		</div>
	</div>

	<h2>Send to Database (Multiple Values)</h2>
	<div class="jumbotron">
		<form>
			<div class="form-group">
				<div class="row">
					<div class="col-xs-6">
						<label for="min_power">Min Power Consumption</label>
						<input class="form-control" id="min_power" placeholder="Power (kW)" value="1000">
					</div>
					<div class="col-xs-6">
						<label for="max_power">Max Power Consumption</label>
						<input class="form-control" id="max_power" placeholder="Power (kW)" value="10000">
					</div>
				</div>

				<div class="row">
					<div class="col-xs-6">
						<label for="days">Duration (days)</label>
						<input class="form-control" id="days" placeholder="" value="0.25">
					</div>
					<div class="col-xs-6">
						<label for="interval_length">Interval Length (minutes)</label>
						<input class="form-control" id="interval_length" placeholder="" value="60">
					</div>
				</div>
			</div>
		</form>
		<button onclick="generatePower()" class="btn btn-default">Generate</button>
	</div>

	<h2>Pie Chart (Most Recently Used Times)</h2>
	<h2>Chart</h2>
	<div id="chart" style="width:100%; height: 500px;"></div>
	<script type="text/javascript">setup();</script>

	<h2>Table (5 Most Recent Values)</h2>
	<table class="table table-responsive">
		<thead>
			<tr>
				<th>Time</th>
				<th>Real Power</th>
			</tr>
		</thead>
		<tbody id="powerTable">
		</tbody>
		<script type="text/javascript">getNPower(5);</script>
	</table>
</div>

{% endblock %}