{% extends "template.html" %}

{% block head %}
	<script type="text/javascript">
		function writePower() {
			var real = parseFloat(document.getElementById("powerInput").value);
			var appliance_id = (document.getElementById("appliance_id").value);
			if (real && appliance_id) {
				data = {
					"appliance_id": appliance_id,
					"real" : real
				}
				var JSONdata = JSON.stringify(data)
				$.post("/_ah/api/ems/v1/writePower", JSONdata, function(data){
					document.getElementById("responseDate").innerHTML = data["date"];
					document.getElementById("responseValue").innerHTML = data["real"];
				});
			}
			else {
				console.log("Can't send empty input")
			};
		}

		function getNPower(input) {
			var n = parseInt(input)
			if (n) {
				data = {
					"n" : n
				}
				var JSONdata = JSON.stringify(data)
				htmlTable = ""
				$.post("/_ah/api/ems/v1/getNPower", JSONdata, function(data){
					console.log(data["items"]);
					$.each(data["items"], function(index, entry){
						htmlTable += "<tr>"
						$.each(entry, function(key, value) {
							htmlTable += "<td>" + value + "</td>"
							console.log(key + " : " + value);
						});
						htmlTable += "</tr>"
					});
					document.getElementById("powerTable").innerHTML = htmlTable
				});
			}
		}
	</script>
{% endblock %}

{% block content %}

<div class="container">
	<h1>Server Tests</h1>

	<hr>

	<div class="row">
		<i>Development Cycle #1, testing database and webpage integration (Connection and Database Write only)</i>
		<div class="col-sm-6">
			<h3>Send to Database</h3>
			<div class="jumbotron">
				<form>
					<div class="form-group">
						<label for="powerInput">Power Consumption</label>
						<input class="form-control" id="powerInput" placeholder="Power (kW)">
						<label for="appliance_id">Appliance ID</label>
						<input class="form-control" id="appliance_id" placeholder="">
					</div>
				</form>
				<button onclick="writePower()" class="btn btn-default">Submit</button>
			</div>
		</div>

		<div class="col-sm-6">
			<h3>Results</h3>
			<div class="jumbotron">
				<div id="responseDate">(date)</div>
				<div id="responseValue">(value)</div>
			</div>
		</div>
	</div>

	<hr>

	<div class="row">
		<i>Development Cycle #2, Testing Database, Gets Last 5 Values</i>
		<button onclick="getNPower(5)" class="btn btn-primary">Refresh Table</button>
		<table class="table table-responsive">
			<thead>
				<tr>
					<th>Date</th>
					<th>Real Power</th>
				</tr>
			</thead>
			<tbody id="powerTable">
			</tbody>
		</table>
		<script type="text/javascript">getNPower(5);</script>
	</div>
</div>
{% endblock %}